{% extends 'base.html.twig' %}

{% set title = 'Générer un mot de passe' %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-6">
        {% for alerte in app.flashes('errors') %}
            <div class="alert alert-danger">{{ alerte | raw }}</div><br>
        {% endfor %}

        <form action="{{ path('lost_password_redirect') }}" method="post">
        
            <div class="form-group">
                <input type="text" name="email" value="" id="email" class="form-control mb-4" placeholder="Adresse email">
            </div>
        
            <div class="form-group text-center">
                <button type="submit" class="btn btnSubmit mt-2">Générer un mot de passe</button>
            </div>
        
        </form>

        <br>
    </div>
</div>

{% endblock %}