body {
    font-family: 'Lato', sans-serif;
    color: rgb(55, 57, 66);
    overflow-x: hidden !important;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
textarea {
    min-height: 120px;
}
.nav-link {
    padding: 0 1em;
}
.alert-danger {
    color: #D9326F !important;
    background-color: rgb(252, 240, 255) !important;
    border-color: rgb(255, 76, 141) !important;
    border-radius: 3px !important;
    font-weight: 500 !important;
}
.alert-success {
    color: rgb(1, 152, 142) !important;
    background-color: rgb(225, 255, 253) !important;
    border-color: rgb(4, 217, 203) !important;
    border-radius: 3px !important;
    font-weight: 500 !important;
}

header {
    width: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
}

.scrollBtn {
    width: 84px;
    height: 52px;
    position: fixed;
    right: 0;
    bottom: 106px;
    z-index: 900;
}
.scroller{
    width: 52px;
    height: 52px;
    line-height: 52px;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 1.25em;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(186, 186, 186);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
.textScroll {
    opacity: 0;
    pointer-events: none;
}

.top {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(43, 42, 59);
    color: rgb(137, 135, 141);
    padding: 1.25em 2em;
    z-index: 7;
    transform: translateX(200%);
    transition: transform ease-in .6s;
}
.topActive {
    transform: translateX(0%);
}
.top a {
    font-size: 0.85em;
    color: rgb(137, 135, 141);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3px;
}
.top a:hover {
    text-decoration: none !important;
}
.top div {
    width: 70%;
    margin: .5em auto;
}
.authentication {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.connect a, .disconnect a, .register a {
    color: rgb(223, 223, 223);
}
.connect, .disconnect {
    cursor: pointer;
}
.register, .connect, .disconnect, .admin, .social_media {
    width: 100%;
    text-align: center;
    margin: 1em 0;
}
.disconnect i {
    color: #D9326F;
    margin-right: 0.5em;
}
.social_media a {
    font-size: 1.1em;
    color: rgb(137, 135, 141);
    transition: ease .5s;
    margin-right: 1.5em;
}
.social_media a:last-child {
    margin-right: 0;
}
.social_media a:hover {
    color: #D9326F;
}
#query {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0.5em 0;
}
#rechercher {
    min-width: 100%;
    background-color: transparent;
    border: 1px solid rgb(137, 135, 141);
    border-radius: 3px;
    outline: none;
    padding: .5em;
    font-size: .85em;
    color: rgb(190, 187, 194);
    transition: ease .5s;
}
#rechercher:focus {
    border: 1px solid #D9326F;
}
.fa-search {
    font-size: .85em;
    transform: translateX(-22px);
    cursor: pointer;
    transition: ease .5s;
}
.fa-search:hover {
    color: #D9326F;
}
nav{
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(194, 194, 194);
    position: relative;
    z-index: 1;
}
.logo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
}
.logotype a {
    width: 140px;
    margin: 1em auto;
    display: block;
}

/* Icone du profil */
.iconeProfile {
    font-size: 26px;
    color: rgb(43, 42, 59);
    cursor: pointer;
    position: relative;
}
.profiLine {
    position: absolute;
    top: 0;
    left: 0;
}

.userCircle {
    opacity: 1;
    transition: all .5s;
}
.toggleUser {
    opacity: 0;
}
.flowY {
    overflow-y: hidden;
}
.profiLine div {
    width: 28px;
    height: 2px;
    background-color: rgb(43, 42, 59);
    margin: 8px 8px 8px 0;
    transition: all .5s;
}
.profiLine .line1 {
    opacity: 0;
}
.profiLine .line2 {
    opacity: 0;
}
.profiLine .line3 {
    opacity: 0;
}
.toggleProfil .line1 {
    transform: rotate(-45deg) translate(-6px, 8px);
    opacity: 1;
}
.toggleProfil .line3 {
    transform: rotate(45deg) translate(-6px, -8px);
    opacity: 1;
}
/* Fin icone du profil */

/* Menu Burger */
.burgerLine{
    cursor: pointer;
}
.burgerLine div {
    width: 28px;
    height: 2px;
    background-color: rgb(43, 42, 59);
    margin: 8px 8px 8px 0;
    transition: all .5s;
}
.toggleBurger .line1 {
    transform: rotate(-45deg) translate(-6px, 8px);
}
.toggleBurger .line2 {
    opacity: 0;
}
.toggleBurger .line3 {
    transform: rotate(45deg) translate(-6px, -8px);
}
.menuActive {
    color: #D9326F !important;
    position: relative;
    z-index: 1;
}
.menuActive::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 2px;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #D9326F;
    z-index: -1;
}

.navigation li {
    width: 50%;
    margin: 0 auto;
}
.navigation {
    position: absolute;
    top: 100%;
    padding-top: .5em;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    text-transform: uppercase;
    transform: translateX(-200%);
    transition: transform ease-in .6s;
    z-index: 7;
}
.navActive {
    transform: translateX(0%);
}
@keyframes liensMenuFade {
    from {
        opacity: 0;
        transform: translateX(-200%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.navigation > li {
    padding: .85em .5em;
    text-align: center;
}
.ddToggle i {
    margin-left: .5em;
}
.angleDown {
    transform: rotate(180deg);
    transition: ease-in .3s;
}
.navigation > li > a, .navigation > li > div {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .3px;
    cursor: pointer;
}
.submenu {
    text-transform: initial;
}
.submenu li a {
    display: block;
    padding: 0.5em;
    color: inherit;
}
.fixedTop {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
/* Fin Menu Burger */
.title {
    font-weight: 700;
}

.btnSubmit {
    padding: .5em 1em;
    background-color: #D9326F;
    color: rgb(255, 228, 228);
    text-transform: uppercase;
    letter-spacing: .6px;
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.btnSubmit::before {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fd3980;
    z-index: -1;
}
.invalid-feedback .d-block {
    margin-bottom: 0.5em;
}
.form-check-label {
    cursor: pointer !important;
}
.doHover {
    position: relative;
    color: inherit;
    transition: ease .5s;
}
.doHover::before {
    position: absolute;
    content: '';
    width: 30%;
    height: 2px;
    top: 120%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #D9326F;
}
#view {
    width: 80%;
    margin-top: 1em;
    overflow: hidden;
    border-radius: 5px;
}
.champsObligatoires {
    font-size: 0.85em;
}
.admin i {
    margin-right: 0.5em;
}
#navbarDropdown {
    margin: 0.5em 0;
}
.dropdown-item {
    color: inherit !important;
    text-transform: initial !important;
    font-weight: 400 !important;
    font-size: 1em !important;
    letter-spacing: 0 !important;
}
.dropdown-item i {
    font-size: 1.35em !important;
}
.dropdown-menu {
    width: 100% !important;
    overflow: hidden;
}

.mapContact {
    width: 100%;
    min-height: auto;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
}
.lczMap iframe {
    width: 100% !important;
}



main {
    min-height: calc(100vh - 118px);
    padding-top: 160px;
}
toto {
    margin: 0 15px;
}







footer {
    height: 70px;
    line-height: 70px;
    background-color: rgb(43, 42, 59);
    color: rgb(223, 223, 223);
    text-align: center;
    overflow: hidden;
}
footer a {
    color: rgb(223, 223, 223);
    margin: 0 .5em;
    transition: ease .5s;
}
footer a:hover {
    color: #D9326F;
}
footer a:last-child {
    margin-right: 0;
}
.copy {
    margin-right: .5em;
}
