<h4 class="title mb-4">Candidatures transmises</h4>
<div class="user__candidatures__block">
    <a href="" class="user_candidature">
        <div class="row">
            <div class="col-2 align__items_center"><img src="{{ asset('images/static/partners/adim-logo.svg') }}"
                    alt="adim logo" class="img-fluid"></div>
            <div class="col-8">
                <div class="leadProject">Adim</div>
                <div class="titleCandidature">Catherine Puig</div>
                <div class="detailsProject mt-1">
                    <ul>
                        <li><i class="far fa-file-alt mr-1"></i>Habitat participatif</li>
                        <li><i class="fas fa-map-marker-alt mr-1"></i>Montreuil</li>
                        <li><i class="far fa-clock mr-1"></i>Il y a six jours</li>
                    </ul>
                </div>
            </div>
            <div class="col-2 candidacyInProgress align__items_center">
                <span class="candidacyStatus"><i class="far fa-clock"></i><span class="candidacyStatusText">En cours de
                        traitement</span></span>
            </div>
        </div>
    </a>
    <a href="" class="user_candidature">
        <div class="row">
            <div class="col-2 align__items_center"><img src="{{ asset('images/static/partners/paris_sud_ame.png') }}"
                    alt="adim logo" class="img-fluid"></div>
            <div class="col-8">
                <div class="leadProject">paris sud aménagement</div>
                <div class="titleCandidature">Bassens, Bassens Centre Bourg</div>
                <div class="detailsProject mt-1">
                    <ul>
                        <li><i class="far fa-file-alt mr-1"></i>Logement participatif</li>
                        <li><i class="fas fa-map-marker-alt mr-1"></i>Bassens</li>
                        <li><i class="far fa-clock mr-1"></i>Il y a deux semaines</li>
                    </ul>
                </div>
            </div>
            <div class="col-2 candidacyRefused align__items_center">
                <span class="candidacyStatus"><i class="fas fa-times"></i><span
                        class="candidacyStatusText">Réfusée</span></span>
            </div>
        </div>
    </a>
    <a href="" class="user_candidature">
        <div class="row">
            <div class="col-2 align__items_center"><img src="{{ asset('images/static/partners/Legendre.png') }}"
                    alt="adim logo" class="img-fluid"></div>
            <div class="col-8">
                <div class="leadProject">legendre</div>
                <div class="titleCandidature">Ivry sur seine, Rue Fablet</div>
                <div class="detailsProject mt-1">
                    <ul>
                        <li><i class="far fa-file-alt mr-1"></i>Logement participatif</li>
                        <li><i class="fas fa-map-marker-alt mr-1"></i>Ivry sur seine</li>
                        <li><i class="far fa-clock mr-1"></i>Il y a six mois</li>
                    </ul>
                </div>
            </div>
            <div class="col-2 candidacyAccepted align__items_center">
                <span class="candidacyStatus"><i class="fas fa-check"></i><span
                        class="candidacyStatusText">Acceptée</span></span>
            </div>
        </div>
    </a>
</div>