html {
    overflow-x: hidden !important;
}
body {
    font-family: 'Lato', sans-serif;
    color: rgb(55, 57, 66);
}
ul {
    margin: 0;
    padding: 0;
}
main .container {
    padding: 0 30px !important;
}
li {
    list-style: none;
}
textarea {
    min-height: 120px;
}
.nav-link {
    padding: 0 1em;
}
.alert-danger {
    color: #D9326F !important;
    background-color: rgb(252, 240, 255) !important;
    border-color: rgb(255, 76, 141) !important;
    border-radius: 3px !important;
    font-weight: 500 !important;
}
.alert-success {
    color: rgb(1, 152, 142) !important;
    background-color: rgb(225, 255, 253) !important;
    border-color: rgb(4, 217, 203) !important;
    border-radius: 3px !important;
    font-weight: 500 !important;
}
.text-success {
    color: #24B99E !important;
}
.text-danger {
    color: #D9326F !important;
}
.btn-success {
  color: #fff;
  background-color: rgb(36, 185, 158);
  border-color: rgb(36, 185, 158);
}

.btn-success:hover {
  color: #fff;
  background-color: rgb(30, 151, 129);
  border-color: rgb(29, 143, 122);
}
.btn-success:focus{
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 164, 0.5);
  outline: none !important;
}
.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: rgb(36, 185, 158);
  border-color: rgb(36, 185, 158);
}
.btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
.show > .btn-success.dropdown-toggle {
  color: #fff;
  background-color: rgb(36, 185, 158);
  border-color: rgb(36, 185, 158);
}
.btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-success.dropdown-toggle:focus {
  box-shadow: none;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + .75rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Choisir un fichier";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}
button a {
    color: inherit;
}
button a:hover {
    color: inherit;
    text-decoration: none;
}
.align__items_center {
    display: flex;
    align-items: center;
}
header {
    width: 100%;
    padding-top: 0;
    position: relative;
    z-index: 1100;
}
.carousel-inner {
    height: 480px;
    overflow: hidden;
}
.carousel-item img {
    transform: translateY(-72px);
}
fieldset.form-group {
    margin-bottom: 0;
    padding-bottom: 0;
}
.scrollBtn {
    width: 80px;
    height: 52px;
    position: fixed;
    right: 0;
    bottom: 106px;
    z-index: 1000;
}
.scroller{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 1.1em;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 2px 4px rgb(186, 186, 186);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
.textScroll {
    font-size: .8em;
    text-align: center;
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    padding: 0.25em;
    border-radius: 3px;
    opacity: 0;
    pointer-events: none;
    color: #fff;
    background-color: rgb(43, 42, 59);
    z-index: 1;
}
.iconeProfile, .burgerLine {
    display: none;
}
.menuActive {
    color: #D9326F !important;
    position: relative;
    z-index: 1;
}
.menuActive::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 80%;
    left: 0;
    background-color: #D9326F;
    z-index: -1;
}
.top {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    color: rgb(137, 135, 141);
    padding: 32px 32px 0 32px;
    position: relative;
    background-color: rgb(43, 42, 59);
}
.blockLeft {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.blockRight {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.social_media, #search, .connect, .connect, .notifications {
    margin-bottom: 1.5em !important;
}
.userMr {
    margin-right: 2em;
}
.top a {
    font-size: 0.85em;
    color: rgb(137, 135, 141);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .3px;
}
.top a:hover {
    text-decoration: none !important;
}
.authentication {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.register {
    overflow: hidden;
}
.register a {
    overflow: hidden;
    display: block;
    padding: 0 1em;
    background-color: #D9326F;
    color: rgb(255, 204, 204);
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.register a::before {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fd3980;
    z-index: -1;
}
.connect a, .disconnect a {
    color: rgb(223, 223, 223);
    display: flex;
    align-items: center;
}
.connect, .disconnect {
    padding: 0 1em;
    cursor: pointer;
    transition: ease-out .5s;
    overflow: hidden;
}
.disconnect i {
    color: #D9326F;
    margin-right: 0.5em;
}
.social_media {
    margin: 0;
    text-align: center;
}
.social_media a {
    font-size: 1.2em;
    color: rgb(137, 135, 141);
    transition: ease .5s;
    margin-right: 1.35em;
}
.social_media a:last-child {
    margin-right: 0;
}
#search {
    width: 100%;
    display: flex;
    align-items: center;
}
#search-input {
    min-width: 100%;
    height: auto;
    background-color: transparent;
    border: 1px solid rgb(137, 135, 141);
    border-radius: 3px;
    outline: none;
    padding: .25em .5em;
    font-size: .85em;
    color: rgb(190, 187, 194);
}
.glassIcon {
    transform: translateX(-28px);
    cursor: pointer;
    transition: ease .5s;
}
/* Ménu */
nav{
    height: 100vh;
    position: relative;
    margin-bottom: 48px;
    background-color: #fff;
    z-index: 1;
}
.navBarShadow{
    box-shadow: 0 1px 4px rgb(194, 194, 194);
}
.logo {
    width: 100%;
}
.logo a {
    width: 160px;
    margin: 1em auto;
    display: block;
}
.navigation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.navigation > li {
    margin: 0;
    padding: 1em .5em;
    position: relative;
}
.navigation > li:last-child {
    margin-right: 0;
}

.icon-down {
    margin-left: 0.35em;
    font-size: 12px;
    transition: ease-in .3s;
}
.navigation > li > a, .navigation > li.ddToggle {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .3px;
    position: relative;
    cursor: pointer;
}
.submenu {
    position : absolute;
    top: 90%;
    width: 300%;
    left: -100%;
    padding: 1em;
    z-index: 1000;
    border-radius: 5px;
    background-color: #fff;
    transform: translateY(-15px);
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 0 3px #97999d;
}
.submenu::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 3px #97999d;
    transform: rotate(45deg);
}
.submenu::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #fff;
}
.menuNav {
    position: relative;
}
.submenu > li a {
    display: block;
    color: #4b4d55;
    font-weight: 400;
    text-transform: initial;
    margin: 0.5em 0;
    position: relative;
    width: 100%;
}
/* Fin Ménu */
.title {
    font-weight: 700;
}

.btnSubmit {
    padding: .5em 1em;
    background-color: #D9326F;
    color: rgb(255, 228, 228);
    text-transform: uppercase;
    letter-spacing: .6px;
    position: relative;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
}
.btnSubmit::before {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fd3980;
    z-index: -1;
}

.btnSubmitMulti {
    padding: .5em 1em;
    background-color: rgb(50, 217, 186);
    color: rgb(16, 92, 79);
    text-transform: uppercase;
    letter-spacing: .6px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
}
.btnSubmitMulti::before {
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #39fdc9;
    z-index: -1;
}
.invalid-feedback .d-block {
    margin-bottom: 0.5em;
}
.form-check-label {
    cursor: pointer !important;
}
.doHover {
    position: relative;
    color: inherit;
}
.doHover::before {
    position: absolute;
    content: '';
    width: 30%;
    height: 2px;
    top: 120%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #D9326F;
}
#view {
    width: 80%;
    margin-top: 1em;
    overflow: hidden;
    border-radius: 5px;
}
.champsObligatoires {
    font-size: 0.85em;
}
.admin i {
    margin-right: 0.5em;
}
.dropdown-item {
    color: inherit !important;
    text-transform: initial !important;
    font-weight: 400 !important;
    font-size: 1em !important;
    padding: 0 1em !important;
    letter-spacing: 0 !important;
    display: flex;
    align-items: center;
}
.dropdown-item i {
    font-size: 1.35em !important;
}
.dropdown-menu {
    overflow: hidden;
}
#userDropdown {
    top: 8px !important;
    left: -24px !important;
}

.mapContact {
    width: 100%;
    min-height: 200px;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
}
.lczMap iframe {
    width: 100% !important;
}
td a {
    color: inherit !important;
    transition: ease .5s  !important;
}
td a:hover {
    color: #D9326F  !important;
    text-decoration: none  !important;
}
.forwardPage {
    font-size: 1.1em;
    letter-spacing: .6px;
    text-transform: uppercase;
    margin-bottom: 2em;
}
.forwardPage i {
    color: #D9326F  !important;
    font-size: 1.35em;
    margin-right: .25em;
    transform: rotate(45deg);
}
.forwardPage a {
    color: #828588 !important;
    transition: ease-in .5s  !important;
}
.forwardPage a:hover {
    color: #D9326F  !important;
    text-decoration: none  !important;
    margin-left: -3.5px;
}
.vich-image a img {
    width: 100% !important;
}

main {
    min-height: calc(100vh - 333px);
    position: relative;
}
.categView {
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}
.categView img {
    transform: translateY(-30px);
}
.tBefore {
    position: relative;
}
.tBefore::before {
    position: absolute;
    content: '';
    top: 130%;
    left: 0;
    width: 56px;
    height: 8px;
    background-color: #D9326F;
}
.imgTab {
    background-color: #023373;
}
.fondoAccueil1 {
    padding: 2em 0;
    color: #fff;
    text-align: center;
    background-color: #D9326F;
    margin-top: -48px;
}
.fondoAccueil1 p span {
    font-size: 1.25em !important;
}
.fondo__img1 {
    overflow: hidden;
}
.fondo__img1 img {
    min-width: 260%;
}
.fondoAccueil2, .fondoAccueil3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.fondoAccueil2 {
    padding: 2em 1em;
    color: #fff;
    text-align: center;
    background-color: #023373;
}
.fondoAccueil2L {
    margin-top: -48px;
    padding: 2em 0;
    color: #fff;
    text-align: center;
    background-color: #023373;
}
.fondoAccueil3 {
    padding: 2em 1em;
    color: #fff;
    text-align: center;
    background-color: #1CD8AE;
}
.fondoAccueil3L {
    margin-top: -48px;
    padding: 2em 0;
    color: #fff;
    text-align: center;
    background-color: #1CD8AE;
}
.fondoAccueil1 img, .fondoAccueil2 img, .fondoAccueil3 img {
    margin-top: 1em;
}
.fondoAccueil2 button, .fondoAccueil3 button {
    margin-top: .85em;
}
.titleArtBgW {
    width: 80%;
    font-weight: 300 !important;
    font-size: 2.5em;
    margin: 0 auto 1.5em auto;
    position: relative;
}
.titleArtBgW::before {
    position: absolute;
    content: '';
    top: 115%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 6px;
    background-color: #fff;
}
.titleArtBgColor {
    font-weight: 300 !important;
    font-size: 2.5em;
    margin-bottom: 1.5em;
    position: relative;
}
.titleArtBgColor::before {
    position: absolute;
    content: '';
    top: 115%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 6px;
    background-color: #D9326F;
}
.titleArtBgSuccess {
    font-weight: 300 !important;
    font-size: 2.5em;
    margin-bottom: 1.5em;
    position: relative;
}
.titleArtBgSuccess::before {
    position: absolute;
    content: '';
    top: 130%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 6px;
    background-color: #24B99E;
}
.titleArtBgColorNautral {
    font-weight: 300 !important;
    position: relative;
}
.titleArtBgColorNautral::before {
    position: absolute;
    content: '';
    top: 107%;
    left: 0;
    width: 100px;
    height: 6px;
    background-color: #D9326F;
}
.titleArtBgW2 {
    font-weight: 300 !important;
    font-size: 2.5em;
    margin-bottom: 1.5em;
    position: relative;
}
.titleArtBgW2::before {
    position: absolute;
    content: '';
    top: 115%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 6px;
    background-color: #fff;
}
.titleArtBgColor2 {
    font-weight: 300 !important;
    font-size: 2.5em;
    margin-bottom: 1.5em;
    position: relative;
}
.titleArtBgColor2::before {
    position: absolute;
    content: '';
    top: 115%;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 6px;
    background-color: #D9326F;
}
.illu__acceuil__fuc {
    width: 80%;
    margin: 1em auto 0 auto;
}
.illu__acceuil__hp {
    width: 80%;
    margin: 1em auto 0 auto;
}
.illu__acceuil__fuc img, .illu__acceuil__hp img {
    width: 100%;
}
.partnersLogo {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

.logoSpondor {
    width: 100%;
    display: block;
    opacity: .6;
    transition: ease-out .5s;
}
.logoSpondor:hover {
    opacity: 1;
}
.logoSpondor img {
    width: 100%;
}
.exergue {
    font-weight: 800;
    font-size: 2em;
    padding-left: .65em;
    font-family: 'Suez One', serif;
    color: #5c5968;
    position: relative;
    z-index: 1;
}
.exergue::before {
    position: absolute;
    content: url('../images/static/quote-left.svg');
    width: 60px;
    height: 60px;
    top: -.65em;
    left: -.5em;
    opacity: .6;
    z-index: -1;
}
.exergue::after {
    position: absolute;
    content: '';
    width: 60px;
    height: .25em;
    bottom: -.5em;
    left: .65em;
    background-color: #D9326F;
    z-index: -1;
}
.content {
    line-height: 1.7;
}
.animate_fabrique_urbaine {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    overflow: hidden;
}
.animate_fabrique_urbaine h3 {
    font-weight: 300;
    margin-right: 1em;
    padding-right: 0.5em;
    opacity: 0;
    margin-left: 12em;
    background-color: #fff;
    position: relative;
    z-index: 1;
    /*transition: ease-in 5s;*/
}
.animate_fabrique_urbaine h3::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 200%;
    left: -200%;
    top: 0;
    background-color: #fff;

}
.animate_fabrique_urbaine ul li {
    font-weight: 600;
    font-size: 1.35em;
    transform: translateX(-400%);
    z-index: -1;
    position: relative;
}

.animate_fabrique_urbaineRight {
    display: flex;
    justify-content: center;
    padding-top: 2em;
    overflow: hidden;
}
.animate_fabrique_urbaineRight h3 {
    font-weight: 300;
    margin-left: 1em;
    padding-left: 0.5em;
    opacity: 0;
    margin-right: 12em;
    padding-bottom: 3em;
    background-color: #fff;
    position: relative;
    z-index: 1;
    /*transition: ease-in 5s;*/
}
.animate_fabrique_urbaineRight h3::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    right: -100%;
    top: 0;
    background-color: #fff;

}
.animate_fabrique_urbaineRight ul li {
    font-weight: 600;
    font-size: 1.35em;
    text-align: right;
    transform: translateX(-400%);
    z-index: -1;
    position: relative;
}
.animate_fabrique_urbaineLast {
    font-weight: 300;
    text-align: center;
    opacity: 0;
    /*transition: ease-in .5s;*/
}

@keyframes listElem {
    from {
        opacity: 0;
        transform: translateX(-400%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes listElemRight {
    from {
        opacity: 0;
        transform: translateX(400%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

#result {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    padding: 2em 8em;
    overflow-y: scroll;
    /*border-radius: 5px;*/
    display: none;
    background-color: #fff;
    /*box-shadow: 0 1px 4px rgb(194, 194, 194);*/
}
#result a {
    text-transform: inherit;
    line-height: 1.7;
}
.mlSubstrate a {
    text-decoration: none;
    color: inherit;
}
.mlSubstrate a p {
    font-weight: 400;
}
.content p img {
    width: 100%;
}
.content p a, .content ul li a {
    color: inherit;
    text-decoration: underline;
    transition: ease-in .5s;
}
.content p a:hover, .content ul li a:hover {
    color: #D9326F;
}
.actuReturn a {
    color: #828588;
    transition: ease-in .5s;
    text-transform: uppercase;
}
.actuReturn a:hover {
    color: #D9326F;
    text-decoration: none;
}
.actuReturn i {
    color: #D9326F;
}
.actuBlock a {
    color: inherit;
    text-decoration: none;
    position: relative;
}
.actuBlock h4 {
    font-weight: 700;
}
.actuBlock {
    position: relative;
    border-radius: 5px;
    min-height: 400px;
    transition: ease-in .3s;
}
.actuBlock:hover {
    box-shadow: 0 1px 4px rgb(194, 194, 194);
}
.contentActu {
    opacity: 0;
    display: none;
    color: rgb(151, 153, 157);
    transition: all ease-in .3s;
}
.actuBlock:hover .contentActu {
    opacity: 1;
    display: block;
}
.actuPos {
    position: absolute;
    bottom: 40px;
    left: 0;
    margin: 0 15px;
}
.actuPos::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 115%;
    height: 100%;
    background-color: #fff;
}
.actuPos:hover::before {
    width: 100%;
}
.actuBlock:hover .actuPos {
    bottom: 10px;
}
.actuImg {
    overflow: hidden;
}
.actuImg img {
    transition: ease-in .3s;
}
.actuBlock:hover .actuImg img {
    transform: translateY(-40px);
}
.close {
    color: #4f5052;
    transition: ease-in .5s;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    top: 1em;
    right: 4em;
}
.close:hover {
    color: #D9326F;
    text-decoration: none;
}
.carte_habitat_participatif {
    background-color: rgb(43, 42, 59);
    height: 260px;
    padding: 0 !important;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carte_habitat_participatif a {
    text-decoration: none;
}
.titleHabitatCard {
    width: 80%;
    margin: 1.5em auto 0 auto;
    font-size: 1.65em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    position: relative;
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
    transition: all ease-in .5s;
    z-index: 1;
}
.titleHabitatCard::before {
    position: absolute;
    content: '';
    top: 110%;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
    height: 8px;
    background-color: #D9326F;
}
.titleHabitatCard::after {
    position: absolute;
    content: url('../images/static/plus.svg');
    bottom: 112.5%;
    left: 0;
    right: 0;
    margin: auto;
    width: 48px;
    height: 48px;
}
.carte_habitat_participatif:hover .titleHabitatCard {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}
.imgCardHP {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all ease-in .5s;
}
.carte_habitat_participatif:hover .imgCardHP {
    opacity: .2;
    transform: scale(1.2);
}

.head1 {
    font-size: 2.65em;
}
.titleProject {
    width: 70%;
    margin: auto;
    /*overflow: hidden;*/
}
.titleProject h1 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.85rem;
}
.titleProject h2 {
    font-weight: 600;
    margin: 1.35rem 0;
}
.titleProject ul {
    width: 100% !important;
    box-sizing: border-box;
}
.titleProject ul li {
    position: relative;
    padding-left: 24px;
    margin-bottom: 1em;
}
.titleProject ul li::before {
    position: absolute;
    content: url('../images/static/check.svg');
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
}
.titleProject h3 {
    font-weight: 300;
    margin-bottom: 1em;
}
.titleProject p, .titleProject li, .titleProject blockquote {
    font-size: 1.0625em;
    font-weight: 400;
    line-height: 1.6;
}
.titleProject p {
    margin-bottom: 1.5rem;
}
element.style, .elementor-column-wrap, .elementor-element-populated, .elementor-icon-box-content {
    padding: 0 !important;
    width: 100% !important;
}
.carteHP {
    justify-content: center;
}
.undo {
    color: inherit;
    transition: ease .5s;
}
.undo:hover {
    color: #D9326F;
    text-decoration: none !important;
}

.notifications {
    padding: 0 .5em;
    display: flex;
    align-items: center;
    transition: ease .5s;
}
.notifications a {
    display: flex;
    align-items: center;
}
.notifications:hover .bell {
    color: #D9326F;
}
.alignMiddle {
    align-items: center;
}
/* View other photos */
.large {
    height: 480px;
    margin: 0;
    overflow: hidden;
    z-index: -1;
}
.large img {
    width: 100%;
    transform: translateY(-48px);
}
.voirLarge {
    margin: 0;
    overflow: hidden;
    justify-content: center;
}
.thumbnailVoir {
    z-index: 1;
    width: 22.5%;
    margin: .5em;
    overflow: hidden !important;
    cursor: pointer;
}
/* View other photos */
.candidatureView li {
    width: 50%;
}
.candidatureViewImg img {
    width: 100%;
}
.viewCandidatPdf {
    width: 100%;
}
.candidatureOverFlow {
    height: 120px;
    overflow: hidden;
}
.admin {
    display: flex;
    align-items: center;
}
.candidatureForm {
    font-size: 2.35em;
    font-weight: 400 !important;
}

/* ProgressBar Questionnaire Candidature */

/* .progressBar {
    margin-top: 4em;
    font-size: .9em;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
}
.progressBar li {
    width: 15.5%;
    text-align: center;
    position: relative;
    transition: ease-in .5s;
}
.progressBar li::before {
    content: counter(step);
    counter-increment: step;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 48px;
    display: block;
    margin: 0 auto 1em auto;
    color: #97999d;
    background-color: #fff;
    border: 1px solid #afafb3;
    transition: all ease-in .5s;
    z-index: 1;
}
.progressBar li.active::before {
    color: rgb(36, 185, 158);
    border: 1px solid rgb(36, 185, 158);
}
.progressBar li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    top: 14px;
    left: -50%;
    background-color: rgb(36, 185, 158);
    z-index: -1;
    transition: ease-in .5s;
}
.progressBar li.active + li::after {
    width: 100%;
}
.progressBar li:first-child::after {
    content: none;
}

.goCandidature {
    margin: 2em auto 0 auto !important;
    display: block !important;
}
section li {
    margin: 0.5em 0;
    padding-left: 1.65em;
    position: relative;
}
section li::before {
    position: absolute;
    content: url('../images/static/check_success.svg');
    width: 18px;
    height: 18px;
    left: 0;
    top: 2px;
}
#stepContainer {
    margin: 4em 0 2em 0;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(186, 186, 186);
}
.stepContent {
    margin-bottom: 2em;
}
.stepContent:last-child {
    margin-bottom: 0;
}
.stepDirections {
    display: flex;
    justify-content: space-between;
    margin: 2em auto 0 auto;
    width: 60%;
} */
#msform {
    /**/
}
#msform fieldset:not(.form-group) {
    width: 90%;
    margin: 4em auto 2em auto;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(186, 186, 186);
}
#msform input:focus, #msform textarea:focus, #msform select:focus {
    border-color: rgb(36, 185, 158) !important;
}

/* headings */
.fs-title {
    margin-bottom: 1.35em;
}
.fs-subtitle {
    margin-bottom: 1.35em;
}

/* ProgressBar */
#progressbar {
    margin-top: 4em;
    font-size: .9em;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
}
#progressbar li {
    width: 15.5%;
    text-align: center;
    position: relative;
    transition: ease-in .5s;
}
#progressbar li::before {
    content: counter(step);
    counter-increment: step;
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 48px;
    display: block;
    margin: 0 auto 1em auto;
    color: #97999d;
    background-color: #fff;
    border: 1px solid #afafb3;
    transition: all ease-in .5s;
    z-index: 1;
}
#progressbar li.active::before{
    color: rgb(36, 185, 158);
    border: 1px solid rgb(36, 185, 158);
}
#progressbar li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 14px;
    left: -50%;
    background-color: #afafb3;
    z-index: -1;
    transition: ease-in .5s;
}
#progressbar li:first-child::after {
    content: none;
}
#progressbar li.active::after {
    background-color: rgb(36, 185, 158);
}

/* Hide all except first fieldset */
#msform fieldset:not(:first-of-type) {
    display: none;
}
fieldset li {
    margin: 0.5em 0;
    padding-left: 1.65em;
    position: relative;
}
fieldset li::before {
    position: absolute;
    content: url('../images/static/check_success.svg');
    width: 18px;
    height: 18px;
    left: 0;
    top: 2px;
}
.btnPos {
    display: flex;
    justify-content: center;
}
.text__secondary {
    color: #979ca3 !important;
    font-weight: normal;
}
.title__entity {
    letter-spacing: 1px;
    text-transform: uppercase;
}
.vertical__align__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vertical__align {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.mb__form__check .form-check {
    margin-bottom: 0.65em;
}
.mb__form__check label {
    margin-left: 0.35em;
}
.save__candidature {
    text-transform: capitalize !important;
    margin-right: 4.5em;
    border-radius: 5px;
    border: none;
}
.save__candidature:hover {
    text-decoration: none;
}

/* ProgressBar Questionnaire Candidature */

/*
* User Profile
*/
.userProfile {
    flex-wrap: nowrap;
    margin-bottom: 2em;
}
.menuUserInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    padding: 0;
    border: 1px solid rgba(0,0,0,.1);
    overflow: hidden;
    /*box-shadow: 0 0 4px rgb(186, 186, 186);*/
}
.menuUserInfos a {
    display: block !important;
    width: 100%;
    padding: 1em 1.25em;
    color: rgb(151, 153, 157);
    text-decoration: none;
    transition: ease .5s;
}
.menuUserInfosActive {
    color: inherit !important;
    background-color: #f9f9f9;
    overflow: hidden;
    position: relative;
    transition: ease-in .5s;
}
.menuUserInfosActive::before {
    position: absolute;
    content: '';
    width: 5px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #D9326F;
}
.menuUserInfos a:hover {
    color: inherit;
    background-color: #f9f9f9;
}
.userInfosBlock {
    padding: 1.25em;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    /*box-shadow: 0 0 4px rgb(186, 186, 186);*/
}
.uibChild h1 {
    font-size: 1.35em;
    font-weight: bolder;
    letter-spacing: 1px;
}
.iconAvatar::before {
    font-size: 80px;
    color: #afafb3;
}
.avatar {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    border-radius: 5px;
    border: 1px dashed rgba(0,0,0,.1);
    border-spacing: 2px;
    overflow: hidden;
}
.avatar .blockFile {
    position: relative;
    width: 85%;
    height: 85%;
    overflow: hidden;
}
.avatar .blockFile img {
    transform: scale(1.15) translateY(-15px);
}
.icoAvatar {
    transform: scale(1) translateY(-20px) !important;
}
.smAvatar {
    width: 32px;
    height: 32px;
    border-radius: 96px;
    overflow: hidden;
}
.smAvatar img {
    transform: scale(1.5) translateY(-2px);
}
.editAvatar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 125px;
    right: 10px;
    width: 32px !important;
    height: 32px !important;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.3);
    z-index: 1000;
    opacity: .8;
    transition: all ease-in .5s;
}
.editAvatar:hover {
    opacity: 1;
    color: #D9326F;
}
.editAvatar i::before {
    font-size: 20px !important;
}
/* Ensure the size of the image fit the container perfectly */
#avatar__cropper__js {
  display: block;
  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}
.avatar__cropper__modal {
  overflow: hidden !important;
}
#profile_userCoordonnees .custom-file {
    display: none !important;
}
#avatarModal {
    z-index: 9999 !important;
}
#avatarModal .close {
    right: 1rem !important;
}
.user__profile__navbar {
    position: relative;
    top: -48px;
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 56px;
    background-color: #fff;
    height: 4.125rem;
    backface-visibility: hidden;
    transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
}
.user__profile__navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.125rem;
}
.user__profile__navbar ul li {
    height: 100%;
}
.user__profile__navbar a {
    display: flex;
    align-items: center;
    color: inherit;
    margin-right: 2.5em;
    height: 100%;
    font-weight: bolder;
    position: relative;
    letter-spacing: .6px;
}
.user__profile__navbar a:hover {
    text-decoration: none;
}
.user__profile__navbar a::before {
    position: absolute;
    content: '';
    bottom: 1.5px;
    height: 3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    background-color: rgb(161, 162, 162);
    transition: ease-in .5s;
}
.user__profile__navbar a:hover::before {
    width: 100%;
}
.user__profile__navbar ul li:last-child a {
    margin-right: 0;
}
.user__profile__navbar__item__active {
    display: flex;
    align-items: center;
    color: inherit;
    margin-right: 2.5em;
    height: 100%;
    font-weight: bolder;
    position: relative;
    letter-spacing: .6px;
}
.user__profile__navbar__item__active::after {
    position: absolute;
    content: '';
    bottom: 1.5px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #D9326F;
}
/* user candidatures */
.user__candidatures__block {
    margin-bottom: 3.125rem;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 5px;
    overflow: hidden;
}
.user_candidature {
    display: block;
    padding: 1.25em;
    background-color: rgb(255, 255, 255);
    color: inherit;
    cursor: pointer;
    backface-visibility: hidden;
    overflow: hidden;
    border-bottom: 1px solid rgb(230, 230, 230);
    border-image: initial;
    transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
}
.user_candidature:hover {
    text-decoration: none;
    color: inherit;
    background-color: #f8f9fa!important;
}
.user_candidature:last-child {
    border-bottom: none;
}
.leadProject {
    font-size: 0.75rem;
    color: rgb(151, 153, 157);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.titleCandidature {
    font-size: 1.25rem;
}
.detailsProject {
    font-size: 0.75rem;
    color: rgb(151, 153, 157);
}
.detailsProject ul {
    display: flex;
}
.detailsProject ul li {
    margin-right: 1em;
}
.detailsProject ul li:last-child {
    margin-right: 0;
}
.detailsProject ul li i {
    margin-right: 0.5em;
}
.candidacyInProgress, .candidacyRefused, .candidacyAccepted {
    font-size: 0.65rem;
    justify-content: flex-end;
    text-transform: uppercase;
    text-align: right;
    font-weight: 600 !important;
    position: relative;
}
.candidacyStatus {
    padding: 0.5em;
    border-radius: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    position: relative;
    transition: ease .3s;
}
.user_candidature:hover .candidacyStatus {
    padding: 0.5em .85em;
}
.candidacyStatus i {
    font-size: 1.35em !important;
}
.candidacyInProgress .candidacyStatus {
    color: rgb(1, 104, 152) !important;
    background-color: rgb(225, 243, 255) !important;
    border: 1px solid rgb(212, 237, 254) !important;
}
.candidacyRefused .candidacyStatus {
    color: #D9326F !important;
    background-color: rgb(252, 240, 255) !important;
    border: 1px solid rgb(248, 227, 254) !important;
}
.candidacyAccepted .candidacyStatus {
    color: rgb(1, 152, 142) !important;
    background-color: rgb(225, 255, 253) !important;
    border: 1px solid rgb(180, 252, 248) !important;
}
.candidacyStatusText {
    position: absolute;
    top: calc(50% - (0.65rem/2));
    right: -9999px;
    transition: ease .3s;
}
.user_candidature:hover .candidacyStatusText {
    position: relative;
    top: 0;
    right: 0;
    margin-left: 0.5em;
}
/* Fin User candidatures */
/* Fin User profile */

/* Mentions légales */
.mentionsLegalesBlock {
    position: relative;
    z-index: 11;
    max-width: 56rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px;
    margin: 0 auto 3rem;
    padding: 3.125rem 6.875rem;
    border-width: 5px 1px 1px;
    border-style: solid;
    border-color: rgb(0, 194, 154) rgb(230, 230, 230) rgb(230, 230, 230);
    border-image: initial;
    border-top: 6px solid #D9326F;
    border-radius: 5px;
}
.mentionsLegalesBlock p {
    margin-bottom: 1.5rem;
    font-size: 1.0625em;
    line-height: 1.6;
}
.mentionsLegalesBlock p strong {
    position: relative;
    font-weight: 600;
    margin-bottom: 1.5rem;
    padding-left: calc(1.8125rem);
    font-size: 1.3125em;
}
.mentionsLegalesBlock p strong::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 16px;
    height: 4px;
    border-radius: 24px;
    background-color: #D9326F;
}
.mentions {
    font-weight: 600;
    text-align: center;
    font-size: 1.9375rem;
    letter-spacing: .6px;
    margin-bottom: 3rem;
    position: relative;
}

.mentions::before {
    position: absolute;
    content: '';
    top: 120%;
    left: 0;
    right: 0;
    margin: auto;
    width: 70px;
    height: 6px;
    border-radius: 24px;
    background-color: #D9326F;
}
/* Mentions légales */

/* Admin */
.adminConnect {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-top: 4px solid #D9326F;
}
.small__sign__in {
    color: #95aac9;
    font-weight: 400;
}
.small__sign__in a {
    color: #D9326F;
    font-weight: bolder;
}
.dashboard {
    display: flex;
    justify-content: space-around;
}
.dashboard hr {
    border-top: 1px solid #e3ebf6;
    margin: 1.5em 0;
}
.navbarDashboard {
    position: relative;
    width: 25%;
    height: 100vh;
    color: #6e84a3;
    z-index: 1030;
}
.dashboardNav {
    position: fixed;
    width: 25%;
    top: 0;
    left: 0;
}
.gestion {
    padding-left: 2.25em;
}
.settingDashboard {
    padding: 1.5rem 1.5rem 0 1.5rem;
}
.settingDashboard i, .dash__user__profile i {
    margin-right: 0.5em;
}
.settingDashboard a, .dash__user__profile a {
    display: flex;
    align-items: center;
    height: 32px;
    margin: 1em 0;
    font-size: .9rem;
    color: #6e84a3;
}
.gestion__dash__active {
    color: #D9326F !important;
    font-weight: 600 !important;
}
.settingDashboard a:hover {
    color: #D9326F;
    text-decoration: none;
}
.dashboardContent {
    height: 100vh;
}
.dash__ico__bottom {
    position: relative;
}
.dash__user__profile {
    width: 180px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    margin: 0 auto;
    border: solid 1px #e3ebf6;
    background-color: #fff;
    border-radius: 5px;
    transform: translateY(-20px);
    transition: ease-in .3s;
    opacity: 0;
    pointer-events: none;
}
.dash__user__profile .dropdown-divider {
    margin: 0;
    padding: 0;
}

.dash__user__profile a i {
    margin-left: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
}
.dash__user__profile a {
    display: inline-flex !important;
}
.dash__user__profile a:hover {
    color: rgb(55, 57, 66) !important;
    text-decoration: none !important;
}
.authentication__dashboard {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem 1.5rem 1.5rem;
}
.authentication__dashboard i {
    display: inline-block;
    padding: .5em .5em 0 .5em;
}
.authentication__dashboard i::before {
    font-size: 20px;
}
.authentication__dashboard i:last-child, .authentication__dashboard a:last-child {
    margin-right: 0;
}
.authentication__dashboard i, .authentication__dashboard span, .authentication__dashboard a {
    margin-right: 1.25em;
    cursor: pointer;
    transition: ease .5s;
    color: #6e84a3;
}
.authentication__dashboard i:hover, .authentication__dashboard a:hover {
    color: rgb(55, 57, 66) !important;
}

/* dashboardContent */
.dashboardContent {
    width: 75%;
    height: auto;
    padding: 2rem;
    border-left: solid 1px #e3ebf6;
    border-color: #e3ebf6 !important;
    font-size: 0.85em;
}
.dashboardContent td, .dashboardContent tr, .dashboardContent th, .dashboardContent .card {
    border-color: #e3ebf6 !important;
}
.dashboardContent .card {
    box-shadow: 0 0.75rem 1.5rem rgba(18,38,63,.03);
}
.header__pretitle {
    text-transform: uppercase;
    letter-spacing: .08em;
    color: #95aac9;
    font-size: .725rem;
    line-height: 1.1;
}
.ico__dashboard {
    color: #95aac9;
    font-size: 3.5rem;
}
/* dashboardContent */

/* dashboard__modal */
.dashboard__modal {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    left: 0;
    bottom: 0;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: ease-in .5s;
}
.modal__left {
    width: 30%;
    height: 100vh;
    padding: 1.5em;
    transform: translateX(-400px);
    background-color: #fff;
    z-index: 2;
    transition: ease-in .7s;
}
.modal__left #search {
    width: 100%;
    width: 100% !important;
    height: 48px !important;
    line-height: 48px !important;
    border: 1px solid #d2ddec;
    border-radius: 6px;
    outline: none;
    padding: .5rem .75rem;
}
.modal__left #search i {
    color: #95aac9;
}
.modal__left #search-input {
    font-size: .9375rem;
    border: none;
    color: rgb(55, 57, 66) !important;
    background-color: transparent;
}
.modal__left #search-input:focus {
    border: none !important;
}

::-webkit-input-placeholder {
   color: #8b96a4 !important;
}
:-moz-placeholder { /* Firefox 18- */
   color: #8b96a4 !important;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #8b96a4 !important;  
}
:-ms-input-placeholder {  
   color: #8b96a4 !important;  
}

.modal__right {
    width: 100%;
    height: 100vh;
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #2c3848;
    transition: ease-out 1s;
}
/* dashboard__modal */

/* Admin */

/* Error headers */
.error__content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error__content h1 {
    letter-spacing: 1px;
}
.error__content p {
    font-size: 1.65em;
    font-weight: 300;
    color: rgb(151, 153, 157);
}
.error__content a {
    letter-spacing: 1.35px;
    font-size: 0.85em;
    font-weight: 600 !important;
    padding-left: 2em;
    padding-right: 2em;
}
/* Error headers */
/* collection__label */
legend.col-form-label {
    font-weight: bolder;
}
/* collection__label */

/* Login__modal */
#loginModal {
    z-index: 9998;
}
#lost__password__modal {
    z-index: 9999;
}
#loginModal .modal-header, #lost__password__modal .modal-header {
    padding: 3em 2em 1em 2em !important;
}
#loginModal .modal-header h2 {
    margin: 0 auto !important;
    letter-spacing: 1px;
    font-weight: 500;
}
#loginModal .modal-body, #lost__password__modal .modal-body {
    padding: 2em !important;
}
#loginModal .close__modal__js, #lost__password__modal .close__modal__js {
    font-size: 26px !important;
    cursor: pointer;
    transform: translate(15px, -30px) !important;
    color: rgb(152, 158, 162);
    transition: ease .5s;
}
#loginModal .close__modal__js:hover, #lost__password__modal .close__modal__js:hover {
    color: #D9326F;
}
#loginModal .reset__password__modal a {
    color: inherit !important;
    position: relative;
}
#loginModal .reset__password__modal a:hover {
    text-decoration: none !important;
}
#loginModal .reset__password__modal a::before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    background-color: rgb(185, 190, 194);
    transition: ease .5s;
}
#loginModal .reset__password__modal a:hover::before {
    width: 50%;
    background-color: #D9326F;
}

.lost__password__tBlock {
    padding: 1em;
    position: relative;
    border-radius: 5px;
    color: #73859d !important;
    overflow: hidden;
}
.lost__password__tBlock::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: #D9326F;
}
.login__returned a:hover {
    text-decoration: none !important;
}
.login__returned a {
    color: inherit !important;
    position: relative;
}
.login__returned a::before {
    position: absolute;
    content: '';
    bottom: -5px;
    right: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(185, 190, 194);
    transition: ease-in .5s;
}
.login__returned a:hover::before {
    width: 120%;
    background-color: #D9326F;
}
.login__returned a::after {
    position: absolute;
    content: '';
    bottom: calc(-50% - 1px);
    left: -10px;
    width: 12px;
    height: 12px;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    transform: rotate(45deg);
    transition: ease-in .5s;
}
.login__returned a:hover::after {
    left: -40px;
    border-bottom: 1px solid #D9326F;
    border-left: 1px solid #D9326F;
}

.lost__mdp a {
    color: inherit !important;
    position: relative;
}
.lost__mdp a:hover {
    text-decoration: none !important;
}
.lost__mdp a::before {
    position: absolute;
    content: '';
    bottom: -3px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    background-color: rgb(185, 190, 194);
    transition: ease .5s;
    transition: ease .5s;
}
.lost__mdp a:hover::before {
    width: 50%;
    background-color: #D9326F;
}
/* Login__modal */
/* ckEditor */
.add-another-collection-widget {
    margin: 2em 0;
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: #f8f9fa;
    transition: ease .5s;
}
.add-another-collection-widget:hover {
    background-color: #D9326F;
    color: #fff;
    border-color: #D9326F;
}
/* ckEditor */
/* candidatureForm */
#other__value {
    display: none;
}
#other__value__logement__actu {
    display: none;
}
.not__list__style li::before {
    content: url('../images/static/attention.svg');
}
/* candidatureForm */


footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: rgb(43, 42, 59);
    color: rgb(223, 223, 223);
    text-align: center;
}
footer .pipe {
    display: none;
}
footer .copy, footer a {
    display: block;
}
footer a {
    color: rgb(223, 223, 223);
    margin: 0;
}
footer a:last-child {
    margin-right: 0;
}
.copy {
    margin-right: 0;
}


/* Icone du profil */
.iconeProfile {
    font-size: 26px;
    color: rgb(43, 42, 59);
    cursor: pointer;
    position: relative;
}
.profiLine {
    position: absolute;
    top: 0;
    left: 0;
}

.userCircle {
    opacity: 1;
    transition: all .5s;
}
.toggleUser {
    opacity: 0;
}
.flowY {
    overflow: hidden;
}
.profiLine div {
    width: 28px;
    height: 2px;
    background-color: rgb(43, 42, 59);
    margin: 8px 8px 8px 0;
    transition: all .5s;
}
.profiLine .line1 {
    opacity: 0;
}
.profiLine .line2 {
    opacity: 0;
}
.profiLine .line3 {
    opacity: 0;
}
.toggleProfil .line1 {
    transform: rotate(-45deg) translate(-6px, 8px);
    opacity: 1;
}
.toggleProfil .line3 {
    transform: rotate(45deg) translate(-6px, -8px);
    opacity: 1;
}
/* Fin icone du profil */

/* Menu Burger */
.burgerLine{
    cursor: pointer;
}
.burgerLine div {
    width: 28px;
    height: 2px;
    background-color: rgb(43, 42, 59);
    margin: 8px 8px 8px 0;
    transition: all .5s;
}
.toggleBurger .line1 {
    transform: rotate(-45deg) translate(-6px, 8px);
}
.toggleBurger .line2 {
    opacity: 0;
}
.toggleBurger .line3 {
    transform: rotate(45deg) translate(-6px, -8px);
}
.menuActive {
    color: #D9326F !important;
    position: relative;
    z-index: 1;
}
.menuActive::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 2px;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #D9326F;
    z-index: -1;
}

.navigation {
    position: absolute;
    top: 100%;
    padding-top: .5em;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    text-transform: uppercase;
    transform: translateX(-200%);
    transition: transform ease-in .6s;
    z-index: 7;
}
.navActive {
    transform: translateX(0%);
}
@keyframes liensMenuFade {
    from {
        opacity: 0;
        transform: translateX(-200%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.navigation > li {
    padding: .85em .5em;
    text-align: center;
}
.ddToggle i {
    margin-left: .5em;
}
.angleDown {
    transform: rotate(180deg);
    transition: ease-in .3s;
}
.navigation > li > a, .navigation > li > div {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
    font-size: .9em;
    text-transform: uppercase;
    letter-spacing: .3px;
    cursor: pointer;
}
.submenu {
    text-transform: initial;
}
.submenu li a {
    display: block;
    padding: 0.5em;
    color: inherit;
}
.fixedTop {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
/* Fin Menu Burger */