{% extends 'base.html.twig' %}

{% set title = 'Fabrique urbaine collaborative' %}

{% block contentFluid %}
	{% for article in article %}
		<div class="fondoAccueil2L">
			<div class="container">
				<h1 class="titleArtBgColor2">{{ article.titre }}</h1>
				<img src="{{ asset('images/photos/') ~ article.imageName }}" alt="{{ article.titre }}" class="img-fluid">
			</div>
		</div><br><br>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="exergue">Pour des villes plus intelli-gentes !</div>
				</div>
				<div class="col-md-9">
					<div class="content">{{ article.contenu | raw }}</div>
				</div>
			</div>
			<div class="animate_fabrique_urbaine">
				<h3>Que vous soyez…</h3>
				<ul>
					<li>Collectivité locale</li>
					<li>Promoteur</li>
					<li>Développeur</li>
					<li>Bailleur social</li>
					<li>Coopérative HLM ou d’habitants</li>
					<li>Aménageur</li>
					<li id="lastLi">Habitant</li>
				</ul>
			</div>
			<div class="animate_fabrique_urbaineRight">
				<ul>
					<li>Dans le neuf</li>
					<li>De réhabilitation ou de requalification urbaine</li>
					<li>De programmation</li>
				</ul>
				<h3>Pour un projet immobilier et urbain…</h3>
			</div>
			<h3 class="animate_fabrique_urbaineLast">Nous sommes là pour vous aider à mettre en oeuvre vos ambitions de ville collaborative.</h3>
		</div><br>
	{% endfor %}

{% endblock %}

{% block javascripts %}
	<script>
		$(function () {

function fabriqueUrbaine() {
let titre = $('.animate_fabrique_urbaine h3');
let listElement = $('.animate_fabrique_urbaine ul li');
let titreRight = $('.animate_fabrique_urbaineRight h3');
let listElementRight = $('.animate_fabrique_urbaineRight ul li');

let cible = $('.animate_fabrique_urbaine').offset().top;
// alert(cible)

$(window).scroll(() => {
if ($('html, body').scrollTop() >= cible - 600) {
titre.animate({
opacity: 1
}, 2000).animate({
marginLeft: 0
}, 1000);

listElement.each((key, value) => {
$(value).css({
animation: `listElem 1.5s ease forwards ${
key / 1 + 2.5
}s`
});

});

listElement.one('animationend', () => { // code to execute after animation ends
titreRight.animate({
opacity: 1
}, 2000).animate({
marginRight: 0
}, 1000);

listElementRight.each((key, value) => {
$(value).css({
animation: `listElemRight 3s ease forwards ${
key / 1 + 3.5
}s`
});
});

});

listElementRight.one('animationend', () => {
$('.animate_fabrique_urbaineLast').animate({
opacity: 1
}, 2000);
});


}

});

}
fabriqueUrbaine();

});
	</script>
{% endblock %}
