{% extends 'base.html.twig' %}

{% set title = 'Accueil' %}

{% block content %}
    <h1>Je suis sur la page d'Acceuil</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat veritatis velit eos atque iste aliquid voluptatem consequatur provident, nobis nemo delectus iure. Natus, quidem harum modi nisi et, obcaecati architecto maxime facilis eos earum placeat repellat reiciendis quia voluptate sunt, incidunt hic! Quo suscipit maiores voluptate cum, dolor ullam doloremque adipisci quos pariatur id, beatae qui nesciunt earum vero assumenda ducimus! Molestias illo ex dignissimos. Voluptatum ea possimus delectus explicabo eius non esse numquam deserunt amet at, dolor, culpa illum?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit reiciendis tenetur repellendus fugiat rerum quae a accusantium, qui voluptas quos, similique perspiciatis dolorum. Autem odio qui odit accusamus, nostrum delectus temporibus tempora quo voluptate ad reiciendis sit eius, dolorum nisi inventore doloribus illum adipisci consequuntur hic aperiam rem velit aut consectetur. Officiis repudiandae optio consequuntur earum. Ut dolorum veritatis a voluptate nemo velit commodi eos nulla sapiente itaque adipisci assumenda odio beatae, reprehenderit aliquam modi amet dolor recusandae quo architecto, magnam, blanditiis sint sit. Aliquid blanditiis esse a iure quasi dolore quod cum voluptas porro adipisci laboriosam eligendi commodi at eaque quis quae architecto, culpa corporis amet laborum beatae quos eum quo. Quos sint sapiente nesciunt minima adipisci ea magnam!</p>
{% endblock %}
