{% extends 'base.html.twig' %}

{% set title = 'Accueil' %}

{% block content %}
    <h1>Je suis sur la page d'Acceuil</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat veritatis velit eos atque iste aliquid voluptatem consequatur provident, nobis nemo delectus iure. Natus, quidem harum modi nisi et, obcaecati architecto maxime facilis eos earum placeat repellat reiciendis quia voluptate sunt, incidunt hic! Quo suscipit maiores voluptate cum, dolor ullam doloremque adipisci quos pariatur id, beatae qui nesciunt earum vero assumenda ducimus! Molestias illo ex dignissimos. Voluptatum ea possimus delectus explicabo eius non esse numquam deserunt amet at, dolor, culpa illum?</p>
{% endblock %}
