{% extends 'base.html.twig' %}

{% set title = 'Références de logements participatifs' %}

{% block content %}

<h3 class="title tBefore">Références de logements participatifs</h3><br><br>
<div class="row">
    {% for article in articles %}
        <div class="categView col-md-6 mr-4 mb-4">
            <img src="{{ asset('images/web/') ~ article.imageName }}" alt="{{ article.titre }}" class="img-fluid">
        </div>
    {% endfor %}
</div>
    
{% endblock %}
