{% extends 'base.html.twig' %}

{% set title = 'Politique de Confidentialité' %}

{% block content %}

<div class="mentionsLegalesBlock">
    <h1 class="mentions">Politique de Confidentialité et de Protection de la Vie Privée <br> LesCityZens.fr</h1>
    <div class="mentionsContent">
        {{ privacy_policy.contenu | raw }}
    </div>
</div>

{% endblock %}