{% block _article_multi_images_widget %}
	<ul id="images-fields-list" data-prototype="{{ form_widget(prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}" data-widget-counter="{{ value|length }}">
		{% for key,productImageForm in form.children %}
			{{ form_widget(productImageForm) }}

		{% endfor %}
	</ul>

	<button type="button" class="add-another-collection-widget" data-list-selector="#images-fields-list">Téléverser une image</button>
{% endblock %}
