{% extends 'base.html.twig' %}

{% set title = 'Questionnaire de candidature('~ projectName ~')' %}

{% block content %}
    <h1 class="titleArtBgSuccess mb-4 text-center candidatureForm">{{ 'Questionnaire de candidature('~ projectName ~')' }}</h1>
    
    <div id="stepContainer">
        
        <form id="msform" action="" method="post">
            <ul id="progressbar">
                <li class="active">Consigne</li>
                <li>Votre projet et votre logement actuel</li>
                <li>Votre ménage</li>
                <li>Votre situation professionnelle</li>
                <li>Votre intérêt pour l'habitat participatif</li>
                <li>Validation de candidature</li>
            </ul>
            
            <!-- Fieldset -->
            <fieldset>
                <h4 class="fs-title title text-center">Ce questionnaire vous permet de déposer une candidature pour participer à un de nos projets d’habitat participatif.</h4>
                <h5 class="fs-subtitle mt-4">Vous ne pouvez candidater et participer qu'à un seul de nos projets.</h5>
                <p>Ce questionnaire contient 5 étapes :</p>
                <ul>
                    <li>Vous pouvez revenir sur votre saisie tant que vous n'avez pas terminé l'ensemble du formulaire.</li>
                    <li>Votre questionnaire est terminé en cliquant sur le bouton "Valider" en dernière étape du questionnaire.</li>
                    <li>En cas de besoin, vous pouvez nous contacter par mail à partir de la page contact.</li>
                </ul>
                <div class="btnPos">
                    <input class="btn btn-success mt-4 col-md-4 align-center next" type="button" name="next" value="Commencer !">
                </div>
            </fieldset>

            <!-- Fieldset -->
            <fieldset>
                <h4 class="fs-title title text-center">VOTRE PROJET ET VOTRE LOGEMENT ACTUEL</h4>

                <div class="fs-subtitle title mt-4">Projet souhaité (pour lequel vous candidatez) *</div>
                <input class="form-control form-group" type="text" value="Ivry, rue Louis Fablet">
                
                <div class="fs-subtitle title">Type de Logement recherché *</div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">2 pièces</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
                    <label class="form-check-label" for="inlineRadio3">3 pièces</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
                    <label class="form-check-label" for="inlineRadio4">4 pièces</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
                    <label class="form-check-label" for="inlineRadio5">5 pièces et +</label>
                </div>

                <div class="fs-subtitle title mt-4">Type de Logement actuel *</div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6" value="option6">
                    <label class="form-check-label" for="inlineRadio6">Studio</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio7" value="option7">
                    <label class="form-check-label" for="inlineRadio7">2 pièces</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio8" value="option8">
                    <label class="form-check-label" for="inlineRadio8">3 pièces</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio9" value="option9">
                    <label class="form-check-label" for="inlineRadio9">4 pièces</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio10" value="option10">
                    <label class="form-check-label" for="inlineRadio10">5 pièces et +</label>
                </div>

                <div class="fs-subtitle title mt-4">Quel est votre statut d'occupation ? *</div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio11" value="option11">
                    <label class="form-check-label" for="inlineRadio11">Locataire HLM</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio12" value="option12">
                    <label class="form-check-label" for="inlineRadio12">Locataire du parc privé</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio13" value="option13">
                    <label class="form-check-label" for="inlineRadio13">Proprieté occupant</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio14" value="option14">
                    <label class="form-check-label" for="inlineRadio14">Autre</label>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                            <div class="fs-subtitle title mt-4">Montant de votre loyer mensuel *</div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">€</span>
                                </div>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="mb-2 title mt-4">Votre logement est-il impacté par une opération d'aménagement à Ivry-sur-Seine ?</div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio15" value="option15">
                            <label class="form-check-label" for="inlineRadio15">Oui</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio16" value="option16">
                            <label class="form-check-label" for="inlineRadio16">Non</label>
                        </div>
                    </div>
                </div>

                

                <div class="btnPos mt-4">
                    <input class="btn btn-success col-md-3 mr-4 previous" type="button" name="previous" value="Précédent">
                    <input class="btn btn-success col-md-3 ml-4 next" type="button" name="next" value="Suivant">
                </div>
            </fieldset>

            <!-- Fieldset -->
            <fieldset>
                <h4 class="fs-title title text-center">VOTRE MÉNAGE</h4>
                
                <div class="fs-subtitle title mt-4">Acquéreur *</div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" placeholder="Nom *">
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" placeholder="Prénom *">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input type="date" class="form-control" placeholder="Date de naissance *">
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="text" class="form-control" placeholder="Lieu de naissance *">
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Adresse de l'acquéreur *">
                </div>
                <div class="row">
                    <div class="col-md-7 form-group">
                        <input type="text" class="form-control" placeholder="Ville *">
                    </div>
                    <div class="col-md-5 form-group">
                        <input type="number" class="form-control" placeholder="Code Postal *">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input type="number" class="form-control" placeholder="Téléphone domicile">
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="number" class="form-control" placeholder="Téléphone professionnel">
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="number" class="form-control" placeholder="Téléphone portable *">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="email" class="form-control" placeholder="Email *">
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" placeholder="Profession *">
                    </div>
                </div>

                <div class="btnPos mt-4">
                    <input class="btn btn-success col-md-3 mr-4 previous" type="button" name="previous"value="Précédent">
                    <input class="btn btn-success col-md-3 ml-4 next" type="button" name="next" value="Suivant">
                </div>
            </fieldset>

            <!-- Fieldset -->
            <fieldset>
                <h4 class="fs-title title text-center">VOTRE SITUATION PROFESSIONNELLE</h4>
                
                <div class="fs-subtitle title mt-4">Acquéreur *</div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" placeholder="Nom *">
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" placeholder="Prénom *">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input type="date" class="form-control" placeholder="Date de naissance *">
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="text" class="form-control" placeholder="Lieu de naissance *">
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Adresse de l'acquéreur *">
                </div>
                <div class="row">
                    <div class="col-md-7 form-group">
                        <input type="text" class="form-control" placeholder="Ville *">
                    </div>
                    <div class="col-md-5 form-group">
                        <input type="number" class="form-control" placeholder="Code Postal *">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input type="number" class="form-control" placeholder="Téléphone domicile">
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="number" class="form-control" placeholder="Téléphone professionnel">
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="number" class="form-control" placeholder="Téléphone portable *">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="email" class="form-control" placeholder="Email *">
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" placeholder="Profession *">
                    </div>
                </div>

                <div class="btnPos mt-4">
                    <input class="btn btn-success col-md-3 mr-4 previous" type="button" name="previous"value="Précédent">
                    <input class="btn btn-success col-md-3 ml-4 next" type="button" name="next" value="Suivant">
                </div>
            </fieldset>

            <!-- Fieldset -->
            <fieldset>
                <h4 class="fs-title title text-center">VOTRE INTÉRET POUR L'HABITAT PARTICIPATIF</h4>
                
                <div class="fs-subtitle title mt-4">Acquéreur *</div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" placeholder="Nom *">
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" placeholder="Prénom *">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input type="date" class="form-control" placeholder="Date de naissance *">
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="text" class="form-control" placeholder="Lieu de naissance *">
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Adresse de l'acquéreur *">
                </div>
                <div class="row">
                    <div class="col-md-7 form-group">
                        <input type="text" class="form-control" placeholder="Ville *">
                    </div>
                    <div class="col-md-5 form-group">
                        <input type="number" class="form-control" placeholder="Code Postal *">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input type="number" class="form-control" placeholder="Téléphone domicile">
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="number" class="form-control" placeholder="Téléphone professionnel">
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="number" class="form-control" placeholder="Téléphone portable *">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="email" class="form-control" placeholder="Email *">
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" placeholder="Profession *">
                    </div>
                </div>

                <div class="btnPos mt-4">
                    <input class="btn btn-success col-md-3 mr-4 previous" type="button" name="previous"value="Précédent">
                    <input class="btn btn-success col-md-3 ml-4 next" type="button" name="next" value="Suivant">
                </div>
            </fieldset>

            <!-- Fieldset -->
            <fieldset>
                <h4 class="fs-title title text-center">VALIDATION DE CANDIDATURE</h4>
                
                <div class="fs-subtitle title mt-4">Acquéreur *</div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" placeholder="Nom *">
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" placeholder="Prénom *">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input type="date" class="form-control" placeholder="Date de naissance *">
                    </div>
                    <div class="col-md-8 form-group">
                        <input type="text" class="form-control" placeholder="Lieu de naissance *">
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Adresse de l'acquéreur *">
                </div>
                <div class="row">
                    <div class="col-md-7 form-group">
                        <input type="text" class="form-control" placeholder="Ville *">
                    </div>
                    <div class="col-md-5 form-group">
                        <input type="number" class="form-control" placeholder="Code Postal *">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input type="number" class="form-control" placeholder="Téléphone domicile">
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="number" class="form-control" placeholder="Téléphone professionnel">
                    </div>
                    <div class="col-md-4 form-group">
                        <input type="number" class="form-control" placeholder="Téléphone portable *">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="email" class="form-control" placeholder="Email *">
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="text" class="form-control" placeholder="Profession *">
                    </div>
                </div>

                <div class="btnPos mt-4">
                    <input class="btn btn-success col-md-3 mr-4 previous" type="button" name="previous"value="Précédent">
                    <input class="btn btn-success col-md-3 ml-4 submit" type="submit" name="submit" value="Candidater">
                </div>
            </fieldset>

        </form>

    </div>


{% endblock %}