
{% if user.userCoordonnees.avatar == 'default_avatar' and user.civilite == 'f' %}

<i class="icon-avatar-1"></i>{{ user.prenom }}

{% endif %}

{% if user.userCoordonnees.avatar == 'default_avatar' and user.civilite == 'm' %}

<i class="icon-avatar"></i>{{ user.prenom }}
    
{% endif %}

{% if user.userCoordonnees.avatar != 'default_avatar' %}
<span class="smAvatar">
    <img src="{{ asset('images/web/avatars/') ~ user.userCoordonnees.avatar }}" alt="{{ user.prenom }}" class="img-fluid">
</span>
    
{% endif %}